<EditForm Model="SearchRequest" OnValidSubmit="SearchWeather">
    <DataAnnotationsValidator/>
    
    <Card>
        <CardBody>
            <CardTitle>Weather API</CardTitle>
            <CardSubTitle>Open-Meteo.com</CardSubTitle>
            <CardText>Enter the latitude and longitude to get the weather forecast.</CardText>
        </CardBody>
        <CardBody>
            <Button Type="ButtonType.Button" Color="ButtonColor.Info" @onclick="ShowSearchLocationDialog">Search Locations</Button>
        </CardBody>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <InputNumber id="latitude" class="form-control" @bind-Value="SearchRequest.Latitude"/>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <InputNumber id="longitude" class="form-control" @bind-Value="SearchRequest.Longitude"/>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label for="forecastDays">Days To Forecast</label>
                    <InputNumber id="forecastDays" class="form-control" @bind-Value="SearchRequest.ForecastDays"/>
                </div>
            </li>
        </ul>
        <CardBody>
            <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Get Weather</Button>
        </CardBody>
    </Card>
</EditForm>

<SearchSelectLocationDialog @ref="_searchSelectLocationDialog" Locations="Locations" OnLocationSelected="SetLocation" 
                            OnSearchLocation="SearchLocation" />
