@page "/weather"
@using WebAppRenderModes.Client.Shared.Weather
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Weather</PageTitle>

@if (_errorMessage is not null)
{
    <Callout Color="CalloutColor.Danger">
        @_errorMessage
    </Callout>
}

<div class="row">
    <div class="col-xs-12 col-xl-4">
        <SearchWeatherLatitudeLongitude Locations="_locations" OnSearchLocation="SearchLocations" 
                                        OnSearchWeather="GetWeather" OnReset="Reset" />
    </div>
    @if (_response is { IsSuccess: true })
    {
        <div class="col-xs col-xl-8 mb-2">
            <WeatherChart Title="Temperatures" XAxisLabel="Date" YAxisLabel="Temp (Celsius)" Data="_temperateData"
                          Labels="_chartLabels"  />

            <WeatherChart Title="Wind" XAxisLabel="Date" YAxisLabel="Speed (Km/h)" Data="_windData"
                          Labels="_chartLabels"  />
        </div>
    }
    <div class="col-xs-12">
        @if (_response is { IsSuccess: true })
        {
            <WeatherInfoGrid DailyWeatherInfo="@_response.DailyWeatherInfo" />
        }
    </div>
</div>