@page "/weather"
@using WebAppRenderModes.Client.Shared.Weather
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Weather</PageTitle>

<div class="row justify-content-center">
    <div class="col-xs-12 col-lg-6 col-xl-4">
        <SearchWeatherLatitudeLongitude Locations="_locations" OnSearchLocation="SearchLocations" OnSearchWeather="GetWeather"/>
    </div>
    <div class="col-xs-12">
        @if (_errorMessage is not null)
        {
            <Callout Color="CalloutColor.Danger">
                @_errorMessage
            </Callout>
        }

        @if (_isLoading && _lastRequest is not null && _response is null)
        {
            <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
                @for (int i = 0; i < _lastRequest.ForecastDays + 1; i++)
                {
                    <Placeholder Style="width: 100%;" Size="PlaceholderSize.Large"/>
                }
            </PlaceholderContainer>
        }

        @if (_response is not null && _response.IsSuccess)
        {
            <WeatherInfoGrid DailyWeatherInfo="@_response.DailyWeatherInfo" />
        }
    </div>
</div>