<label>
    Name:
    <InputText @bind-Value="_inputString" />
</label>
<div>
    <p>Result Found: @ResultFound</p>
</div>
<button @onclick="Search">Search</button>
<button @onclick="Clear">Reset</button>